.DS_Store
Thumbs.db
npm-debug.log
.htaccess
phar.php
build.bat
main.bat
test.bat
Doxyfile
_build.php
/bower_components
/node_modules
/_tests
/_scripts
/_examples
/_src/_output
/input/_output
/_output/*.log
/_output/signatures/*.log
/_output/ssf32/*.log
hash.bat
sign.bat